.multistep-form
    position: relative
    padding: 2rem
    margin: 1rem
    font-family: Arial
    width: 450px
    border: 1px solid #EFF0F7
    border-radius: 1rem
    background: rgba(255, 255, 255, 0.2)
    backdrop-filter: blur(0.5rem)
